.courseCard {
  border: 3px solid green;
  padding: 20px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 65% 30%;
  justify-content: space-between;
  &__description {
    p {
      margin-top: 30px;
    }
  }
  &__authors {
    display: block;
    p {
      margin-bottom: 10px;
    }
    span {
      font-weight: bold;
    }
  }
  &__button {
    .button {
      display: block;
      margin: 0 auto;
      bottom: 0;
    }
  }
}