.input {
  border: 2px solid orange;
  padding: 5px;
  width: 300px;
  margin-right: 50px;
  display: block;
}

.label {
  display: block;
  margin-bottom: 5px;
}

@media (max-width: 720px) {
  .input {
    width: 150px;
    margin-right: 10px;
    padding: 3px;
  }
}