.button {
  display: block;
  font-size: 14px;
  width: 150px;
  color: black;
  border: 2px solid purple;
  text-align: center;
  padding: 5px 0;
  background-color: transparent;
  &:hover {
    background-color: gainsboro;
  }
  &:active {
    transform: translateY(2px);
  }
}

@media (max-width: 720px) {
  .button {
    width: 80px;
    font-size: 10px;
  }
}