.header {
  border: 3px solid orange;
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
  &__logo {
    width: 100px;
  }
  &__logout {
    display: flex;
    justify-content: space-between;
    p {
      margin-right: 30px;
    }
  }
}

@media (max-width: 720px) {
  .header {
    padding: 0 20px 0 0;
  }
}