.createCourses {
  padding: 20px;
  border: 3px solid deepskyblue;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__label {
    display: block;
    margin: 20px 0 5px;
  }
  &__textarea {
    width: 100%;
    height: 100px;
    padding: 5px;
    border: 2px solid yellow;
  }
}
.authors {
  border: 2px solid purple;
  padding: 30px 15px;
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  &__left {
    width: 50%;
    &-author {
      text-align: center;
      margin-bottom: 20px;
    }
    &-duration {
      text-align: center;
      margin: 100px 0 20px;
    }
    .button {
      display: block;
      margin: 0 auto;
    }
    .input {
      width: 100%;
      margin-bottom: 15px;
    }
    p {
      font-size: 20px;
    }
  }
  &__right {
    width: 50%;
    &-author {
      text-align: center;
      margin-bottom: 20px;
    }
    &-authorsList {
      display: flex;
      justify-content: space-between;
      padding: 0 50px 10px 50px;
    }
  }
}

